{:blocks (
{:block/created-at 1685715280251
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 0
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [136 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "cb2de1d0-014f-11ee-904a-f3733a0caf70"
:padding 4
:fontWeight 400
:noFill true
:point [-944.15703125 208.72187499999993]
:lineHeight 1.2
:fontSize 20
:parentId "6479f923-0802-4d13-93b9-2aa2938a04a3"
:nonce 1685715271816
:italic false
:text "Given a wrod"}}
:block/updated-at 1685715280251} 
{:block/created-at 1685715347917
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 1
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [310 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "dd667e70-014f-11ee-904a-f3733a0caf70"
:padding 4
:fontWeight 400
:noFill true
:point [-967.075 294.05390624999995]
:lineHeight 1.2
:fontSize 20
:parentId "6479f923-0802-4d13-93b9-2aa2938a04a3"
:nonce 1685715302464
:italic false
:text "A candidate label of the current"}}
:block/updated-at 1685715347917} 
{:block/created-at 1685715343502
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 2
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [263 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "f00b9880-014f-11ee-904a-f3733a0caf70"
:padding 4
:fontWeight 400
:noFill true
:point [-951.6093749999989 358.44921875]
:lineHeight 1.2
:fontSize 20
:parentId "6479f923-0802-4d13-93b9-2aa2938a04a3"
:nonce 1685715333679
:italic false
:text "Label of the previous word"}}
:block/updated-at 1685715343502})
:pages (
{:block/uuid #uuid "6479f923-0802-4d13-93b9-2aa2938a04a3"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "6479f923-0802-4d13-93b9-2aa2938a04a3"
:name "nlp_week5"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("cb2de1d0-014f-11ee-904a-f3733a0caf70" "dd667e70-014f-11ee-904a-f3733a0caf70" "f00b9880-014f-11ee-904a-f3733a0caf70")}}
:block/updated-at 1685715347917
:block/created-at 1685715235251
:block/type "whiteboard"
:block/name "nlp_week5"
:block/original-name "NLP_Week5"})}