{:highlights [{:id #uuid "6478d4ad-dae8-427d-959c-dc5c22cdc63a",
               :page 4,
               :position {:bounding {:x1 67.95026397705078,
                                     :y1 48.0703125,
                                     :x2 231.30786895751953,
                                     :y2 64.5703125,
                                     :width 603,
                                     :height 780.3529411764706},
                          :rects ({:x1 67.95026397705078,
                                   :y1 48.0703125,
                                   :x2 231.30786895751953,
                                   :y2 64.5703125,
                                   :width 603,
                                   :height 780.3529411764706}),
                          :page 4},
               :content {:text " A Hidden Markov Model (HMM) is"},
               :properties {:color "red"}}
              {:id #uuid "6478d4be-cca4-4e04-a0f5-e5eeec6e159e",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 222,
                                     :x2 509.60919189453125,
                                     :y2 289.6875,
                                     :width 603,
                                     :height 780.3529411764706},
                          :rects ({:x1 0,
                                   :y1 222,
                                   :x2 0,
                                   :y2 241.5,
                                   :width 603,
                                   :height 780.3529411764706}
                                  {:x1 101.65625,
                                   :y1 258.953125,
                                   :x2 509.60919189453125,
                                   :y2 275.453125,
                                   :width 603,
                                   :height 780.3529411764706}
                                  {:x1 101.65625,
                                   :y1 273.1875,
                                   :x2 230.14698791503906,
                                   :y2 289.6875,
                                   :width 603,
                                   :height 780.3529411764706}),
                          :page 4},
               :content {:text "Explain using equations how this approximation is derived, including the simplifying assumptions that are used."},
               :properties {:color "red"}}],
 :extra {:page 4}}
