{:highlights [{:id #uuid "647e09e0-17d8-410b-812e-ee1d39f23345",
               :page 4,
               :position {:bounding {:x1 218.47120666503906,
                                     :y1 117.125,
                                     :x2 344.8620910644531,
                                     :y2 141.625,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 218.47120666503906,
                                   :y1 117.125,
                                   :x2 344.8620910644531,
                                   :y2 141.625,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 4},
               :content {:text "agger’s estimate"},
               :properties {:color "yellow"}}
              {:id #uuid "647e0e63-efa3-4799-8866-0b8c3e7ac618",
               :page 4,
               :position {:bounding {:x1 81,
                                     :y1 292,
                                     :x2 412,
                                     :y2 400,
                                     :width 476,
                                     :height 616},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1685982818503},
               :properties {:color "yellow"}}
              {:id #uuid "647e19db-b3b5-4c3a-9861-75ddac2d43f3",
               :page 4,
               :position {:bounding {:x1 144.91200256347656,
                                     :y1 417.46875,
                                     :x2 368.7265625,
                                     :y2 430.46875,
                                     :width 476,
                                     :height 616},
                          :rects ({:x1 144.91200256347656,
                                   :y1 417.46875,
                                   :x2 368.7265625,
                                   :y2 430.46875,
                                   :width 476,
                                   :height 616}),
                          :page 4},
               :content {:text "Use them to tag the given word sequence by computing ˆy"},
               :properties {:color "yellow"}}
              {:id #uuid "647e1c7f-404c-4142-bb67-63e404b85c4f",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 62,
                                     :x2 551.5048828125,
                                     :y2 181.765625,
                                     :width 652.8,
                                     :height 844.8},
                          :rects ({:x1 0,
                                   :y1 62,
                                   :x2 0,
                                   :y2 81.5,
                                   :width 652.8,
                                   :height 844.8}
                                  {:x1 319.6078186035156,
                                   :y1 148.359375,
                                   :x2 551.5048828125,
                                   :y2 166.359375,
                                   :width 652.8,
                                   :height 844.8}
                                  {:x1 319.609375,
                                   :y1 151.359375,
                                   :x2 551.5048828125,
                                   :y2 164.109375,
                                   :width 652.8,
                                   :height 844.8}
                                  {:x1 110.0546875,
                                   :y1 163.765625,
                                   :x2 142.49185180664062,
                                   :y2 181.765625,
                                   :width 652.8,
                                   :height 844.8}),
                          :page 3},
               :content {:text "Explain the equation and the approximation terms."},
               :properties {:color "yellow"}}
              {:id #uuid "647e1cac-f3cc-426b-af46-d3a52db2e5dc",
               :page 4,
               :position {:bounding {:x1 276.6174011230469,
                                     :y1 587.6796875,
                                     :x2 548.5049438476562,
                                     :y2 605.6796875,
                                     :width 652.8,
                                     :height 844.8},
                          :rects ({:x1 276.6174011230469,
                                   :y1 587.6796875,
                                   :x2 548.5049438476562,
                                   :y2 605.6796875,
                                   :width 652.8,
                                   :height 844.8}),
                          :page 4},
               :content {:text "transition probabilities or the emission probabilities"},
               :properties {:color "yellow"}}
              {:id #uuid "647f5225-b67f-4ad4-a3cb-8908346c7cce",
               :page 4,
               :position {:bounding {:x1 110.7420654296875,
                                     :y1 692.21875,
                                     :x2 229.57032775878906,
                                     :y2 710.21875,
                                     :width 657,
                                     :height 850.2352941176471},
                          :rects ({:x1 110.7420654296875,
                                   :y1 692.21875,
                                   :x2 229.57032775878906,
                                   :y2 710.21875,
                                   :width 657,
                                   :height 850.2352941176471}),
                          :page 4},
               :content {:text "The Viterbi algorithm "},
               :properties {:color "yellow"}}
              {:id #uuid "647f667a-57c8-4978-879c-7184804d5c58",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 14,
                                     :x2 638.86474609375,
                                     :y2 133.0546875,
                                     :width 756,
                                     :height 978.3529411764706},
                          :rects ({:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 33.5,
                                   :width 756,
                                   :height 978.3529411764706}
                                  {:x1 127.4557876586914,
                                   :y1 94.7109375,
                                   :x2 638.86474609375,
                                   :y2 115.2109375,
                                   :width 756,
                                   :height 978.3529411764706}
                                  {:x1 127.4609375,
                                   :y1 97.7109375,
                                   :x2 638.86474609375,
                                   :y2 112.4765625,
                                   :width 756,
                                   :height 978.3529411764706}
                                  {:x1 127.453125,
                                   :y1 112.5546875,
                                   :x2 157.2578125,
                                   :y2 133.0546875,
                                   :width 756,
                                   :height 978.3529411764706}
                                  {:x1 127.453125,
                                   :y1 115.5546875,
                                   :x2 152.34567260742188,
                                   :y2 130.3203125,
                                   :width 756,
                                   :height 978.3529411764706}),
                          :page 5},
               :content {:text "What are distributed word representations? How do they compare to one-hot encoding? "},
               :properties {:color "yellow"}}],
 :extra {:page 5}}
