{:highlights [{:id #uuid "647e09e0-17d8-410b-812e-ee1d39f23345",
               :page 4,
               :position {:bounding {:x1 218.47120666503906,
                                     :y1 117.125,
                                     :x2 344.8620910644531,
                                     :y2 141.625,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 218.47120666503906,
                                   :y1 117.125,
                                   :x2 344.8620910644531,
                                   :y2 141.625,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 4},
               :content {:text "agger’s estimate"},
               :properties {:color "yellow"}}
              {:id #uuid "647e0e63-efa3-4799-8866-0b8c3e7ac618",
               :page 4,
               :position {:bounding {:x1 81,
                                     :y1 292,
                                     :x2 412,
                                     :y2 400,
                                     :width 476,
                                     :height 616},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1685982818503},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
