{:highlights [{:id #uuid "6478d4ad-dae8-427d-959c-dc5c22cdc63a",
               :page 4,
               :position {:bounding {:x1 67.95026397705078,
                                     :y1 48.0703125,
                                     :x2 231.30786895751953,
                                     :y2 64.5703125,
                                     :width 603,
                                     :height 780.3529411764706},
                          :rects ({:x1 67.95026397705078,
                                   :y1 48.0703125,
                                   :x2 231.30786895751953,
                                   :y2 64.5703125,
                                   :width 603,
                                   :height 780.3529411764706}),
                          :page 4},
               :content {:text " A Hidden Markov Model (HMM) is"},
               :properties {:color "red"}}],
 :extra {:page 4}}
