{:highlights [{:id #uuid "647f7249-51c9-48e0-8d81-f2f26b36523b",
               :page 4,
               :position {:bounding {:x1 54.687015533447266,
                                     :y1 49.8046875,
                                     :x2 139.56872940063477,
                                     :y2 61.8046875,
                                     :width 469.8360435425347,
                                     :height 608.023115172692},
                          :rects ({:x1 54.687015533447266,
                                   :y1 49.8046875,
                                   :x2 139.56872940063477,
                                   :y2 61.8046875,
                                   :width 469.8360435425347,
                                   :height 608.023115172692}),
                          :page 4},
               :content {:text "Information extraction"},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
