{:highlights [{:id #uuid "647f7249-51c9-48e0-8d81-f2f26b36523b",
               :page 4,
               :position {:bounding {:x1 54.687015533447266,
                                     :y1 49.8046875,
                                     :x2 139.56872940063477,
                                     :y2 61.8046875,
                                     :width 469.8360435425347,
                                     :height 608.023115172692},
                          :rects ({:x1 54.687015533447266,
                                   :y1 49.8046875,
                                   :x2 139.56872940063477,
                                   :y2 61.8046875,
                                   :width 469.8360435425347,
                                   :height 608.023115172692}),
                          :page 4},
               :content {:text "Information extraction"},
               :properties {:color "yellow"}}
              {:id #uuid "647f7273-da90-496c-badd-6288cd79e1ea",
               :page 5,
               :position {:bounding {:x1 79.2109375,
                                     :y1 98.1328125,
                                     :x2 353.4013977050781,
                                     :y2 110.1328125,
                                     :width 469.8360435425347,
                                     :height 608.023115172692},
                          :rects ({:x1 79.2109375,
                                   :y1 98.1328125,
                                   :x2 353.4013977050781,
                                   :y2 110.1328125,
                                   :width 469.8360435425347,
                                   :height 608.023115172692}),
                          :page 5},
               :content {:text "Using equations, describe the model of logistic regression for classification."},
               :properties {:color "yellow"}}
              {:id #uuid "647f73a2-4438-4730-b195-36132fe1f524",
               :page 6,
               :position {:bounding {:x1 79.19210052490234,
                                     :y1 195.6796875,
                                     :x2 396.93243408203125,
                                     :y2 207.6796875,
                                     :width 469.8360435425347,
                                     :height 608.023115172692},
                          :rects ({:x1 79.19210052490234,
                                   :y1 195.6796875,
                                   :x2 396.93243408203125,
                                   :y2 207.6796875,
                                   :width 469.8360435425347,
                                   :height 608.023115172692}),
                          :page 6},
               :content {:text "Use pseudocode to describe the backpropagation algorithm for the multilayer percep-"},
               :properties {:color "yellow"}}
              {:id #uuid "647f73ac-e230-47a1-bb03-72217bc3a4c2",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 190,
                                     :x2 396.93768310546875,
                                     :y2 251.5390625,
                                     :width 469.8360435425347,
                                     :height 608.023115172692},
                          :rects ({:x1 0,
                                   :y1 190,
                                   :x2 0,
                                   :y2 209.5,
                                   :width 469.8360435425347,
                                   :height 608.023115172692}
                                  {:x1 79.2109375,
                                   :y1 228.4453125,
                                   :x2 396.93768310546875,
                                   :y2 240.4453125,
                                   :width 469.8360435425347,
                                   :height 608.023115172692}
                                  {:x1 79.2109375,
                                   :y1 239.5390625,
                                   :x2 112.1328125,
                                   :y2 251.5390625,
                                   :width 469.8360435425347,
                                   :height 608.023115172692}),
                          :page 6},
               :content {:text "Explain why neural networks are prone to overfitting and how this problem can be avoided. "},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
