{:highlights [{:id #uuid "647f7249-51c9-48e0-8d81-f2f26b36523b",
               :page 4,
               :position {:bounding {:x1 54.687015533447266,
                                     :y1 49.8046875,
                                     :x2 139.56872940063477,
                                     :y2 61.8046875,
                                     :width 469.8360435425347,
                                     :height 608.023115172692},
                          :rects ({:x1 54.687015533447266,
                                   :y1 49.8046875,
                                   :x2 139.56872940063477,
                                   :y2 61.8046875,
                                   :width 469.8360435425347,
                                   :height 608.023115172692}),
                          :page 4},
               :content {:text "Information extraction"},
               :properties {:color "yellow"}}
              {:id #uuid "647f7273-da90-496c-badd-6288cd79e1ea",
               :page 5,
               :position {:bounding {:x1 79.2109375,
                                     :y1 98.1328125,
                                     :x2 353.4013977050781,
                                     :y2 110.1328125,
                                     :width 469.8360435425347,
                                     :height 608.023115172692},
                          :rects ({:x1 79.2109375,
                                   :y1 98.1328125,
                                   :x2 353.4013977050781,
                                   :y2 110.1328125,
                                   :width 469.8360435425347,
                                   :height 608.023115172692}),
                          :page 5},
               :content {:text "Using equations, describe the model of logistic regression for classification."},
               :properties {:color "yellow"}}],
 :extra {:page 5}}
