{:highlights [{:id #uuid "647a1f81-ae0f-438b-90a3-52e63418932c",
               :page 1,
               :position {:bounding {:x1 164.4140625,
                                     :y1 67.578125,
                                     :x2 415.0269470214844,
                                     :y2 101.078125,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 164.4140625,
                                   :y1 67.578125,
                                   :x2 415.0269470214844,
                                   :y2 101.078125,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 1},
               :content {:text "Information Extraction"},
               :properties {:color "yellow"}}
              {:id #uuid "647a24a3-f1d3-42b5-8062-f45a029c40e4",
               :page 16,
               :position {:bounding {:x1 14.1328125,
                                     :y1 8.0078125,
                                     :x2 493.6943054199219,
                                     :y2 41.5078125,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 14.1328125,
                                   :y1 8.0078125,
                                   :x2 493.6943054199219,
                                   :y2 41.5078125,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 16},
               :content {:text "Information Extraction System Architecture"},
               :properties {:color "yellow"}}
              {:id #uuid "647a24b2-eb4b-416a-9c73-843672998864",
               :page 16,
               :position {:bounding {:x1 44,
                                     :y1 46,
                                     :x2 539,
                                     :y2 393,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1685726385499},
               :properties {:color "yellow"}}],
 :extra {:page 17}}
