{:highlights [{:id #uuid "647a1f81-ae0f-438b-90a3-52e63418932c",
               :page 1,
               :position {:bounding {:x1 164.4140625,
                                     :y1 67.578125,
                                     :x2 415.0269470214844,
                                     :y2 101.078125,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 164.4140625,
                                   :y1 67.578125,
                                   :x2 415.0269470214844,
                                   :y2 101.078125,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 1},
               :content {:text "Information Extraction"},
               :properties {:color "yellow"}}],
 :extra {:page 6}}
