{:highlights [{:id #uuid "647cedd0-ee95-4f93-9f2f-1c2f0da274ca",
               :page 10,
               :position {:bounding {:x1 14.171875,
                                     :y1 21.359375,
                                     :x2 313.8733215332031,
                                     :y2 54.359375,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 14.171875,
                                   :y1 21.359375,
                                   :x2 313.8733215332031,
                                   :y2 54.359375,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 10},
               :content {:text "Definition of Transfer Learning"},
               :properties {:color "yellow"}}
              {:id #uuid "647cedf1-39f5-48e9-9c45-750ea1fcf1d5",
               :page 11,
               :position {:bounding {:x1 14.171875,
                                     :y1 21.359375,
                                     :x2 473.247802734375,
                                     :y2 54.359375,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 14.171875,
                                   :y1 21.359375,
                                   :x2 473.247802734375,
                                   :y2 54.359375,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 11},
               :content {:text "Definition of Transfer Learning (more formally)"},
               :properties {:color "yellow"}}
              {:id #uuid "647ceea5-8972-4f5f-835e-93c938e98b68",
               :page 15,
               :position {:bounding {:x1 14.171875,
                                     :y1 21.359375,
                                     :x2 271.76495361328125,
                                     :y2 54.359375,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 14.171875,
                                   :y1 21.359375,
                                   :x2 271.76495361328125,
                                   :y2 54.359375,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 15},
               :content {:text "Transfer Learning Variants"},
               :properties {:color "yellow"}}
              {:id #uuid "647ceefa-4ee3-482b-8ed1-7d4d204d6561",
               :page 16,
               :position {:bounding {:x1 18.140625,
                                     :y1 27.734375,
                                     :x2 374.82427978515625,
                                     :y2 69.734375,
                                     :width 774.048,
                                     :height 580.5354666666666},
                          :rects ({:x1 18.140625,
                                   :y1 27.734375,
                                   :x2 374.82427978515625,
                                   :y2 69.734375,
                                   :width 774.048,
                                   :height 580.5354666666666}),
                          :page 16},
               :content {:text "Transfer Learning Taxonomy"},
               :properties {:color "yellow"}}
              {:id #uuid "647cef02-fc82-4ba2-8719-9c9df57de5ae",
               :page 18,
               :position {:bounding {:x1 18.140625,
                                     :y1 27.734375,
                                     :x2 374.77227783203125,
                                     :y2 69.734375,
                                     :width 774.048,
                                     :height 580.5354666666666},
                          :rects ({:x1 18.140625,
                                   :y1 27.734375,
                                   :x2 374.77227783203125,
                                   :y2 69.734375,
                                   :width 774.048,
                                   :height 580.5354666666666}),
                          :page 18},
               :content {:text "Sequential Transfer Learning"},
               :properties {:color "yellow"}}
              {:id #uuid "647cef10-bec0-4d30-b061-f1aa9e4d77d8",
               :page 27,
               :position {:bounding {:x1 18.140625,
                                     :y1 27.734375,
                                     :x2 428.4525146484375,
                                     :y2 69.734375,
                                     :width 774.048,
                                     :height 580.5354666666666},
                          :rects ({:x1 18.140625,
                                   :y1 27.734375,
                                   :x2 428.4525146484375,
                                   :y2 69.734375,
                                   :width 774.048,
                                   :height 580.5354666666666}),
                          :page 27},
               :content {:text "Pretraining: Language Modelling"},
               :properties {:color "yellow"}}
              {:id #uuid "647cef1d-b3f4-4111-895b-9b1d1b8f9edd",
               :page 30,
               :position {:bounding {:x1 18.140625,
                                     :y1 27.734375,
                                     :x2 266.5676574707031,
                                     :y2 69.734375,
                                     :width 774.048,
                                     :height 580.5354666666666},
                          :rects ({:x1 18.140625,
                                   :y1 27.734375,
                                   :x2 266.5676574707031,
                                   :y2 69.734375,
                                   :width 774.048,
                                   :height 580.5354666666666}),
                          :page 30},
               :content {:text "Pretraining: Models"},
               :properties {:color "yellow"}}
              {:id #uuid "647cef31-7151-4e47-bc7b-8f53744c15c1",
               :page 35,
               :position {:bounding {:x1 18.140625,
                                     :y1 27.734375,
                                     :x2 706.6424560546875,
                                     :y2 69.734375,
                                     :width 774.048,
                                     :height 580.5354666666666},
                          :rects ({:x1 18.140625,
                                   :y1 27.734375,
                                   :x2 706.6424560546875,
                                   :y2 69.734375,
                                   :width 774.048,
                                   :height 580.5354666666666}),
                          :page 35},
               :content {:text "BERT: Pre-training of Deep Bidirectional Transformers"},
               :properties {:color "yellow"}}
              {:id #uuid "647cef3e-7a97-4c0a-9e02-73119abd8b3a",
               :page 47,
               :position {:bounding {:x1 18.140625,
                                     :y1 27.734375,
                                     :x2 706.6424560546875,
                                     :y2 69.734375,
                                     :width 774.048,
                                     :height 580.5354666666666},
                          :rects ({:x1 18.140625,
                                   :y1 27.734375,
                                   :x2 706.6424560546875,
                                   :y2 69.734375,
                                   :width 774.048,
                                   :height 580.5354666666666}),
                          :page 47},
               :content {:text "BERT: Pre-training of Deep Bidirectional Transformers"},
               :properties {:color "yellow"}}],
 :extra {:page 47}}
