{:highlights [{:id #uuid "647cedd0-ee95-4f93-9f2f-1c2f0da274ca",
               :page 10,
               :position {:bounding {:x1 14.171875,
                                     :y1 21.359375,
                                     :x2 313.8733215332031,
                                     :y2 54.359375,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 14.171875,
                                   :y1 21.359375,
                                   :x2 313.8733215332031,
                                   :y2 54.359375,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 10},
               :content {:text "Definition of Transfer Learning"},
               :properties {:color "yellow"}}],
 :extra {:page 10}}
