{:highlights [{:id #uuid "647a0614-f3e1-401d-b6b8-c0342b3f35aa",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 14,
                                     :x2 533.6385498046875,
                                     :y2 168.84375,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 33.5,
                                   :width 603,
                                   :height 452.2495845218901}
                                  {:x1 69.34375,
                                   :y1 105.5390625,
                                   :x2 533.6385498046875,
                                   :y2 139.0390625,
                                   :width 603,
                                   :height 452.2495845218901}
                                  {:x1 151.3125,
                                   :y1 135.34375,
                                   :x2 451.67340087890625,
                                   :y2 168.84375,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 1},
               :content {:text "Feedforward Neural Networkss: Revisiting Word Vectors and Text Classification"},
               :properties {:color "yellow"}}
              {:id #uuid "647a0643-9e30-41ed-8992-2558c1aa7977",
               :page 12,
               :position {:bounding {:x1 83.3671875,
                                     :y1 152.4375,
                                     :x2 320.1566467285156,
                                     :y2 177.4375,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 83.3671875,
                                   :y1 152.4375,
                                   :x2 320.1566467285156,
                                   :y2 177.4375,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 12},
               :content {:text "Feedforward neural networks"},
               :properties {:color "yellow"}}
              {:id #uuid "647a0650-6441-4b4c-92f7-405c63993b2f",
               :page 12,
               :position {:bounding {:x1 83.3671875,
                                     :y1 274.9609375,
                                     :x2 384.78021240234375,
                                     :y2 299.9609375,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 83.3671875,
                                   :y1 274.9609375,
                                   :x2 384.78021240234375,
                                   :y2 299.9609375,
                                   :width 603,
                                   :height 452.2495845218901}
                                  {:x1 161.4765625,
                                   :y1 278.4609375,
                                   :x2 384.78021240234375,
                                   :y2 296.59375,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 12},
               :content {:text "Train with SGD and Backpropagation"},
               :properties {:color "yellow"}}
              {:id #uuid "647a0766-f61b-4090-8682-450c120927ba",
               :page 34,
               :position {:bounding {:x1 14.1328125,
                                     :y1 21.2890625,
                                     :x2 214.51544189453125,
                                     :y2 54.7890625,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 14.1328125,
                                   :y1 21.2890625,
                                   :x2 214.51544189453125,
                                   :y2 54.7890625,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 34},
               :content {:text "Activation Functions"},
               :properties {:color "yellow"}}
              {:id #uuid "647a07c4-e79f-4f67-9f6c-0a8a8f8a8fd8",
               :page 38,
               :position {:bounding {:x1 14.1328125,
                                     :y1 21.2890625,
                                     :x2 462.3582763671875,
                                     :y2 54.7890625,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 14.1328125,
                                   :y1 21.2890625,
                                   :x2 462.3582763671875,
                                   :y2 54.7890625,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 38},
               :content {:text "Training: Stochastic Gradient Descent (SGD) "},
               :properties {:color "yellow"}}
              {:id #uuid "647a07fd-0668-4c98-ab16-d85ae74623b3",
               :page 39,
               :position {:bounding {:x1 35,
                                     :y1 107,
                                     :x2 591,
                                     :y2 423,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects (),
                          :page 39},
               :content {:text "[:span]", :image 1685719036360},
               :properties {:color "yellow"}}
              {:id #uuid "647a0838-c961-4859-932f-71e111bd45ea",
               :page 40,
               :position {:bounding {:x1 14.1328125,
                                     :y1 21.2890625,
                                     :x2 377.26715087890625,
                                     :y2 54.7890625,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 14.1328125,
                                   :y1 21.2890625,
                                   :x2 377.26715087890625,
                                   :y2 54.7890625,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 40},
               :content {:text "Training: Backpropagation Algorithm"},
               :properties {:color "yellow"}}
              {:id #uuid "647a083e-d402-48fe-88c8-a6eb85ab9f4a",
               :page 41,
               :position {:bounding {:x1 14.1328125,
                                     :y1 21.2890625,
                                     :x2 377.26715087890625,
                                     :y2 54.7890625,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 14.1328125,
                                   :y1 21.2890625,
                                   :x2 377.26715087890625,
                                   :y2 54.7890625,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 41},
               :content {:text "Training: Backpropagation Algorithm"},
               :properties {:color "yellow"}}
              {:id #uuid "647a08ef-a0ed-4120-9599-f9482b39b5fa",
               :page 42,
               :position {:bounding {:x1 14.1328125,
                                     :y1 21.2890625,
                                     :x2 369.5815124511719,
                                     :y2 54.7890625,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 14.1328125,
                                   :y1 21.2890625,
                                   :x2 369.5815124511719,
                                   :y2 54.7890625,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 42},
               :content {:text "Training: SGD and Backpropagation"},
               :properties {:color "yellow"}}
              {:id #uuid "647a090b-f14c-4938-96eb-3cd58f9cd746",
               :page 42,
               :position {:bounding {:x1 36.26171875,
                                     :y1 99.00390625,
                                     :x2 588.08203125,
                                     :y2 410.71875,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects (),
                          :page 42},
               :content {:text "[:span]", :image 1685719332396},
               :properties {:color "yellow"}}
              {:id #uuid "647a0ab9-5d5d-46b3-ad78-05d21ad93e84",
               :page 46,
               :position {:bounding {:x1 14.1328125,
                                     :y1 21.2890625,
                                     :x2 142.40223693847656,
                                     :y2 54.7890625,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 14.1328125,
                                   :y1 21.2890625,
                                   :x2 142.40223693847656,
                                   :y2 54.7890625,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 46},
               :content {:text "Forward Pass"},
               :properties {:color "yellow"}}
              {:id #uuid "647a0ae1-c00e-494b-b8aa-95ce70c85849",
               :page 46,
               :position {:bounding {:x1 55,
                                     :y1 175,
                                     :x2 350,
                                     :y2 373,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects (),
                          :page 46},
               :content {:text "[:span]", :image 1685719776201},
               :properties {:color "yellow"}}
              {:id #uuid "647a0aec-6eb0-4c2e-8d2a-59344e9a4670",
               :page 51,
               :position {:bounding {:x1 14.1328125,
                                     :y1 21.2890625,
                                     :x2 159.21791076660156,
                                     :y2 54.7890625,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 14.1328125,
                                   :y1 21.2890625,
                                   :x2 159.21791076660156,
                                   :y2 54.7890625,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 51},
               :content {:text "Backward Pass"},
               :properties {:color "yellow"}}
              {:id #uuid "647a0afc-ac36-45a8-82a4-992b48f2a9b3",
               :page 51,
               :position {:bounding {:x1 50,
                                     :y1 142,
                                     :x2 578,
                                     :y2 449,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects (),
                          :page 51},
               :content {:text "[:span]", :image 1685719803499},
               :properties {:color "yellow"}}
              {:id #uuid "647a0d36-9de9-4d75-95f8-0de88b04b18c",
               :page 52,
               :position {:bounding {:x1 83.3671875,
                                     :y1 169.515625,
                                     :x2 436.8406066894531,
                                     :y2 194.515625,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 83.3671875,
                                   :y1 169.515625,
                                   :x2 436.8406066894531,
                                   :y2 194.515625,
                                   :width 603,
                                   :height 452.2495845218901}
                                  {:x1 220.9140625,
                                   :y1 173.015625,
                                   :x2 226.96676635742188,
                                   :y2 191.1484375,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 52},
               :content {:text "L2-regularisation in the weights of each layer"},
               :properties {:color "yellow"}}
              {:id #uuid "647a0dc6-8ae2-463a-bf53-3c20c9242424",
               :page 54,
               :position {:bounding {:x1 0,
                                     :y1 62,
                                     :x2 538.8168334960938,
                                     :y2 261.7421875,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 0,
                                   :y1 62,
                                   :x2 0,
                                   :y2 81.5,
                                   :width 603,
                                   :height 452.2495845218901}
                                  {:x1 83.3671875,
                                   :y1 216.875,
                                   :x2 538.8168334960938,
                                   :y2 241.875,
                                   :width 603,
                                   :height 452.2495845218901}
                                  {:x1 152.6875,
                                   :y1 220.375,
                                   :x2 538.8168334960938,
                                   :y2 238.5078125,
                                   :width 603,
                                   :height 452.2495845218901}
                                  {:x1 83.3671875,
                                   :y1 236.7421875,
                                   :x2 320.3701477050781,
                                   :y2 261.7421875,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 54},
               :content {:text "Dropout: randomly ignore a percentage (e.g. 20% or 50%) of layer outputs during training"},
               :properties {:color "yellow"}}],
 :extra {:page 55}}
