{:highlights [{:id #uuid "647a0614-f3e1-401d-b6b8-c0342b3f35aa",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 14,
                                     :x2 533.6385498046875,
                                     :y2 168.84375,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 33.5,
                                   :width 603,
                                   :height 452.2495845218901}
                                  {:x1 69.34375,
                                   :y1 105.5390625,
                                   :x2 533.6385498046875,
                                   :y2 139.0390625,
                                   :width 603,
                                   :height 452.2495845218901}
                                  {:x1 151.3125,
                                   :y1 135.34375,
                                   :x2 451.67340087890625,
                                   :y2 168.84375,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 1},
               :content {:text "Feedforward Neural Networkss: Revisiting Word Vectors and Text Classification"},
               :properties {:color "yellow"}}
              {:id #uuid "647a0643-9e30-41ed-8992-2558c1aa7977",
               :page 12,
               :position {:bounding {:x1 83.3671875,
                                     :y1 152.4375,
                                     :x2 320.1566467285156,
                                     :y2 177.4375,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 83.3671875,
                                   :y1 152.4375,
                                   :x2 320.1566467285156,
                                   :y2 177.4375,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 12},
               :content {:text "Feedforward neural networks"},
               :properties {:color "yellow"}}
              {:id #uuid "647a0650-6441-4b4c-92f7-405c63993b2f",
               :page 12,
               :position {:bounding {:x1 83.3671875,
                                     :y1 274.9609375,
                                     :x2 384.78021240234375,
                                     :y2 299.9609375,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 83.3671875,
                                   :y1 274.9609375,
                                   :x2 384.78021240234375,
                                   :y2 299.9609375,
                                   :width 603,
                                   :height 452.2495845218901}
                                  {:x1 161.4765625,
                                   :y1 278.4609375,
                                   :x2 384.78021240234375,
                                   :y2 296.59375,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 12},
               :content {:text "Train with SGD and Backpropagation"},
               :properties {:color "yellow"}}
              {:id #uuid "647a0766-f61b-4090-8682-450c120927ba",
               :page 34,
               :position {:bounding {:x1 14.1328125,
                                     :y1 21.2890625,
                                     :x2 214.51544189453125,
                                     :y2 54.7890625,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 14.1328125,
                                   :y1 21.2890625,
                                   :x2 214.51544189453125,
                                   :y2 54.7890625,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 34},
               :content {:text "Activation Functions"},
               :properties {:color "yellow"}}
              {:id #uuid "647a07c4-e79f-4f67-9f6c-0a8a8f8a8fd8",
               :page 38,
               :position {:bounding {:x1 14.1328125,
                                     :y1 21.2890625,
                                     :x2 462.3582763671875,
                                     :y2 54.7890625,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 14.1328125,
                                   :y1 21.2890625,
                                   :x2 462.3582763671875,
                                   :y2 54.7890625,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 38},
               :content {:text "Training: Stochastic Gradient Descent (SGD) "},
               :properties {:color "yellow"}}
              {:id #uuid "647a07fd-0668-4c98-ab16-d85ae74623b3",
               :page 39,
               :position {:bounding {:x1 35,
                                     :y1 107,
                                     :x2 591,
                                     :y2 423,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects (),
                          :page 39},
               :content {:text "[:span]", :image 1685719036360},
               :properties {:color "yellow"}}],
 :extra {:page 40}}
