{:highlights [{:id #uuid "647a0614-f3e1-401d-b6b8-c0342b3f35aa",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 14,
                                     :x2 533.6385498046875,
                                     :y2 168.84375,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 33.5,
                                   :width 603,
                                   :height 452.2495845218901}
                                  {:x1 69.34375,
                                   :y1 105.5390625,
                                   :x2 533.6385498046875,
                                   :y2 139.0390625,
                                   :width 603,
                                   :height 452.2495845218901}
                                  {:x1 151.3125,
                                   :y1 135.34375,
                                   :x2 451.67340087890625,
                                   :y2 168.84375,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 1},
               :content {:text "Feedforward Neural Networkss: Revisiting Word Vectors and Text Classification"},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
