{:highlights [{:id #uuid "647b72d4-b7fb-445d-9262-165d1b04f604",
               :page 1,
               :position {:bounding {:x1 88.5625,
                                     :y1 110.6953125,
                                     :x2 514.4149780273438,
                                     :y2 144.1953125,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 88.5625,
                                   :y1 110.6953125,
                                   :x2 514.4149780273438,
                                   :y2 144.1953125,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 1},
               :content {:text "Recurrent Neural Networks and Neural LMs"},
               :properties {:color "yellow"}}
              {:id #uuid "647b7584-875b-4b6d-988e-55b8005a22eb",
               :page 14,
               :position {:bounding {:x1 14.1328125,
                                     :y1 21.2890625,
                                     :x2 365.5340881347656,
                                     :y2 54.7890625,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 14.1328125,
                                   :y1 21.2890625,
                                   :x2 365.5340881347656,
                                   :y2 54.7890625,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 14},
               :content {:text "Language modelling as classification"},
               :properties {:color "yellow"}}
              {:id #uuid "647b77af-f7fe-42f3-b83f-0094075dcdf2",
               :page 18,
               :position {:bounding {:x1 14.1328125,
                                     :y1 21.2890625,
                                     :x2 295.0880126953125,
                                     :y2 54.7890625,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 14.1328125,
                                   :y1 21.2890625,
                                   :x2 295.0880126953125,
                                   :y2 54.7890625,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 18},
               :content {:text "Representing word sequences"},
               :properties {:color "yellow"}}],
 :extra {:page 20}}
