{:highlights [{:id #uuid "647b72d4-b7fb-445d-9262-165d1b04f604",
               :page 1,
               :position {:bounding {:x1 88.5625,
                                     :y1 110.6953125,
                                     :x2 514.4149780273438,
                                     :y2 144.1953125,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 88.5625,
                                   :y1 110.6953125,
                                   :x2 514.4149780273438,
                                   :y2 144.1953125,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 1},
               :content {:text "Recurrent Neural Networks and Neural LMs"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
