{:highlights [{:id #uuid "647b72d4-b7fb-445d-9262-165d1b04f604",
               :page 1,
               :position {:bounding {:x1 88.5625,
                                     :y1 110.6953125,
                                     :x2 514.4149780273438,
                                     :y2 144.1953125,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 88.5625,
                                   :y1 110.6953125,
                                   :x2 514.4149780273438,
                                   :y2 144.1953125,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 1},
               :content {:text "Recurrent Neural Networks and Neural LMs"},
               :properties {:color "yellow"}}
              {:id #uuid "647b7584-875b-4b6d-988e-55b8005a22eb",
               :page 14,
               :position {:bounding {:x1 14.1328125,
                                     :y1 21.2890625,
                                     :x2 365.5340881347656,
                                     :y2 54.7890625,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 14.1328125,
                                   :y1 21.2890625,
                                   :x2 365.5340881347656,
                                   :y2 54.7890625,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 14},
               :content {:text "Language modelling as classification"},
               :properties {:color "yellow"}}
              {:id #uuid "647b77af-f7fe-42f3-b83f-0094075dcdf2",
               :page 18,
               :position {:bounding {:x1 14.1328125,
                                     :y1 21.2890625,
                                     :x2 295.0880126953125,
                                     :y2 54.7890625,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 14.1328125,
                                   :y1 21.2890625,
                                   :x2 295.0880126953125,
                                   :y2 54.7890625,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 18},
               :content {:text "Representing word sequences"},
               :properties {:color "yellow"}}
              {:id #uuid "647b7844-7de1-433d-9c4d-5904784abda2",
               :page 19,
               :position {:bounding {:x1 31,
                                     :y1 136.015625,
                                     :x2 578,
                                     :y2 343,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1685813578645},
               :properties {:color "yellow"}}
              {:id #uuid "647b7ab4-6f5c-4e7a-9d1e-d50dea3cef91",
               :page 21,
               :position {:bounding {:x1 14.1328125,
                                     :y1 21.2890625,
                                     :x2 276.39141845703125,
                                     :y2 54.7890625,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 14.1328125,
                                   :y1 21.2890625,
                                   :x2 276.39141845703125,
                                   :y2 54.7890625,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 21},
               :content {:text "Recurrent Neural Networks"},
               :properties {:color "yellow"}}
              {:id #uuid "647b7b86-a3bc-4aff-af09-bc40ee3f2327",
               :page 22,
               :position {:bounding {:x1 14.1328125,
                                     :y1 21.2890625,
                                     :x2 158.31101989746094,
                                     :y2 54.7890625,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 14.1328125,
                                   :y1 21.2890625,
                                   :x2 158.31101989746094,
                                   :y2 54.7890625,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 22},
               :content {:text "Training RNNs"},
               :properties {:color "yellow"}}
              {:id #uuid "647b7fd0-5beb-4ace-b593-4fcb06855814",
               :page 23,
               :position {:bounding {:x1 14.1328125,
                                     :y1 21.2890625,
                                     :x2 213.3843994140625,
                                     :y2 54.7890625,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 14.1328125,
                                   :y1 21.2890625,
                                   :x2 213.3843994140625,
                                   :y2 54.7890625,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 23},
               :content {:text "Limitations of RNNs"},
               :properties {:color "yellow"}}
              {:id #uuid "647b7fe1-b30e-4e0e-a4ec-45893d52004f",
               :page 23,
               :position {:bounding {:x1 47.1015625,
                                     :y1 177.890625,
                                     :x2 392.95172119140625,
                                     :y2 202.890625,
                                     :width 603,
                                     :height 452.2495845218901},
                          :rects ({:x1 47.1015625,
                                   :y1 177.890625,
                                   :x2 392.95172119140625,
                                   :y2 202.890625,
                                   :width 603,
                                   :height 452.2495845218901}),
                          :page 23},
               :content {:text "RNNs can’t capture long-range dependencies:"},
               :properties {:color "yellow"}}],
 :extra {:page 16}}
