{:highlights [{:id #uuid "647b9356-b285-4609-82b1-50e1f1bace0c",
               :page 4,
               :position {:bounding {:x1 26.203125,
                                     :y1 34.9765625,
                                     :x2 314.06646728515625,
                                     :y2 66.4765625,
                                     :width 603,
                                     :height 339.1875},
                          :rects ({:x1 26.203125,
                                   :y1 34.9765625,
                                   :x2 314.06646728515625,
                                   :y2 66.4765625,
                                   :width 603,
                                   :height 339.1875}),
                          :page 4},
               :content {:text "Sequence to Sequence Models"},
               :properties {:color "yellow"}}],
 :extra {:page 10}}
