{:highlights [{:id #uuid "647b9356-b285-4609-82b1-50e1f1bace0c",
               :page 4,
               :position {:bounding {:x1 26.203125,
                                     :y1 34.9765625,
                                     :x2 314.06646728515625,
                                     :y2 66.4765625,
                                     :width 603,
                                     :height 339.1875},
                          :rects ({:x1 26.203125,
                                   :y1 34.9765625,
                                   :x2 314.06646728515625,
                                   :y2 66.4765625,
                                   :width 603,
                                   :height 339.1875}),
                          :page 4},
               :content {:text "Sequence to Sequence Models"},
               :properties {:color "yellow"}}
              {:id #uuid "647cac80-2ad0-4fd2-ab21-eed164b5d387",
               :page 13,
               :position {:bounding {:x1 114.765625,
                                     :y1 135.890625,
                                     :x2 506.31866455078125,
                                     :y2 163.890625,
                                     :width 800,
                                     :height 450},
                          :rects ({:x1 114.765625,
                                   :y1 135.890625,
                                   :x2 506.31866455078125,
                                   :y2 163.890625,
                                   :width 800,
                                   :height 450}),
                          :page 13},
               :content {:text "How do we come up with candidate sentences"},
               :properties {:color "yellow"}}
              {:id #uuid "647cac8c-ea55-4d36-8fdb-ea6110406d04",
               :page 13,
               :position {:bounding {:x1 114.765625,
                                     :y1 246.28125,
                                     :x2 647.9426879882812,
                                     :y2 274.28125,
                                     :width 800,
                                     :height 450},
                          :rects ({:x1 114.765625,
                                   :y1 246.28125,
                                   :x2 647.9426879882812,
                                   :y2 274.28125,
                                   :width 800,
                                   :height 450}),
                          :page 13},
               :content {:text "How do we search through this large list of possible sentences"},
               :properties {:color "yellow"}}
              {:id #uuid "647cad8c-f00e-4d79-a818-c3eb62ccc86a",
               :page 27,
               :position {:bounding {:x1 34.765625,
                                     :y1 46.375,
                                     :x2 610.6500244140625,
                                     :y2 88.375,
                                     :width 800,
                                     :height 450},
                          :rects ({:x1 34.765625,
                                   :y1 46.375,
                                   :x2 610.6500244140625,
                                   :y2 88.375,
                                   :width 800,
                                   :height 450}),
                          :page 27},
               :content {:text "Language Modelling to Sequence Generation"},
               :properties {:color "yellow"}}],
 :extra {:page 28}}
