{:highlights [{:id #uuid "647b9356-b285-4609-82b1-50e1f1bace0c",
               :page 4,
               :position {:bounding {:x1 26.203125,
                                     :y1 34.9765625,
                                     :x2 314.06646728515625,
                                     :y2 66.4765625,
                                     :width 603,
                                     :height 339.1875},
                          :rects ({:x1 26.203125,
                                   :y1 34.9765625,
                                   :x2 314.06646728515625,
                                   :y2 66.4765625,
                                   :width 603,
                                   :height 339.1875}),
                          :page 4},
               :content {:text "Sequence to Sequence Models"},
               :properties {:color "yellow"}}
              {:id #uuid "647cac80-2ad0-4fd2-ab21-eed164b5d387",
               :page 13,
               :position {:bounding {:x1 114.765625,
                                     :y1 135.890625,
                                     :x2 506.31866455078125,
                                     :y2 163.890625,
                                     :width 800,
                                     :height 450},
                          :rects ({:x1 114.765625,
                                   :y1 135.890625,
                                   :x2 506.31866455078125,
                                   :y2 163.890625,
                                   :width 800,
                                   :height 450}),
                          :page 13},
               :content {:text "How do we come up with candidate sentences"},
               :properties {:color "yellow"}}
              {:id #uuid "647cac8c-ea55-4d36-8fdb-ea6110406d04",
               :page 13,
               :position {:bounding {:x1 114.765625,
                                     :y1 246.28125,
                                     :x2 647.9426879882812,
                                     :y2 274.28125,
                                     :width 800,
                                     :height 450},
                          :rects ({:x1 114.765625,
                                   :y1 246.28125,
                                   :x2 647.9426879882812,
                                   :y2 274.28125,
                                   :width 800,
                                   :height 450}),
                          :page 13},
               :content {:text "How do we search through this large list of possible sentences"},
               :properties {:color "yellow"}}
              {:id #uuid "647cad8c-f00e-4d79-a818-c3eb62ccc86a",
               :page 27,
               :position {:bounding {:x1 34.765625,
                                     :y1 46.375,
                                     :x2 610.6500244140625,
                                     :y2 88.375,
                                     :width 800,
                                     :height 450},
                          :rects ({:x1 34.765625,
                                   :y1 46.375,
                                   :x2 610.6500244140625,
                                   :y2 88.375,
                                   :width 800,
                                   :height 450}),
                          :page 27},
               :content {:text "Language Modelling to Sequence Generation"},
               :properties {:color "yellow"}}
              {:id #uuid "647cadad-4b6a-440d-a023-f0fc6c1c8890",
               :page 28,
               :position {:bounding {:x1 34.765625,
                                     :y1 46.375,
                                     :x2 317.613525390625,
                                     :y2 88.375,
                                     :width 800,
                                     :height 450},
                          :rects ({:x1 34.765625,
                                   :y1 46.375,
                                   :x2 317.613525390625,
                                   :y2 88.375,
                                   :width 800,
                                   :height 450}),
                          :page 28},
               :content {:text "Encoding Information"},
               :properties {:color "yellow"}}
              {:id #uuid "647cadde-91b0-4658-a21d-be7931ca130c",
               :page 31,
               :position {:bounding {:x1 34.765625,
                                     :y1 46.375,
                                     :x2 528.6610717773438,
                                     :y2 88.375,
                                     :width 800,
                                     :height 450},
                          :rects ({:x1 34.765625,
                                   :y1 46.375,
                                   :x2 528.6610717773438,
                                   :y2 88.375,
                                   :width 800,
                                   :height 450}),
                          :page 31},
               :content {:text "“Thought” vector to Encoder-Decoder"},
               :properties {:color "yellow"}}
              {:id #uuid "647cade4-01e9-40d5-807a-3f958524d8bd",
               :page 32,
               :position {:bounding {:x1 34.765625,
                                     :y1 46.375,
                                     :x2 259.4085693359375,
                                     :y2 88.375,
                                     :width 800,
                                     :height 450},
                          :rects ({:x1 34.765625,
                                   :y1 46.375,
                                   :x2 259.4085693359375,
                                   :y2 88.375,
                                   :width 800,
                                   :height 450}),
                          :page 32},
               :content {:text "Encoder-Decoder"},
               :properties {:color "yellow"}}
              {:id #uuid "647cae03-5633-4cf5-ac2d-8e3ca23e62dc",
               :page 32,
               :position {:bounding {:x1 95.45703125,
                                     :y1 123.09765625,
                                     :x2 666,
                                     :y2 360.91015625,
                                     :width 800,
                                     :height 450},
                          :rects (),
                          :page 32},
               :content {:text "[:span]", :image 1685892622460},
               :properties {:color "yellow"}}
              {:id #uuid "647cae40-53bd-4b22-a89c-850b386a4ae0",
               :page 33,
               :position {:bounding {:x1 34.765625,
                                     :y1 46.375,
                                     :x2 417.8710632324219,
                                     :y2 88.375,
                                     :width 800,
                                     :height 450},
                          :rects ({:x1 34.765625,
                                   :y1 46.375,
                                   :x2 417.8710632324219,
                                   :y2 88.375,
                                   :width 800,
                                   :height 450}),
                          :page 33},
               :content {:text "Conditional Language Models"},
               :properties {:color "yellow"}}
              {:id #uuid "647cae46-c07c-4c57-93b0-fed62a24408e",
               :page 34,
               :position {:bounding {:x1 34.765625,
                                     :y1 46.375,
                                     :x2 463.6597595214844,
                                     :y2 88.375,
                                     :width 800,
                                     :height 450},
                          :rects ({:x1 34.765625,
                                   :y1 46.375,
                                   :x2 463.6597595214844,
                                   :y2 88.375,
                                   :width 800,
                                   :height 450}),
                          :page 34},
               :content {:text "Encoder-Decoder for Translation"},
               :properties {:color "yellow"}}
              {:id #uuid "647cae62-79a1-4db2-b461-3d27b3d10d12",
               :page 35,
               :position {:bounding {:x1 34.765625,
                                     :y1 46.375,
                                     :x2 305.7303161621094,
                                     :y2 88.375,
                                     :width 800,
                                     :height 450},
                          :rects ({:x1 34.765625,
                                   :y1 46.375,
                                   :x2 305.7303161621094,
                                   :y2 88.375,
                                   :width 800,
                                   :height 450}),
                          :page 35},
               :content {:text "Sequence Generation"},
               :properties {:color "yellow"}}],
 :extra {:page 36}}
