{:highlights [{:id #uuid "63f4ca55-9d84-4d15-8567-232cbb44ae0a",
               :page 13,
               :position {:bounding {:x1 14.171875,
                                     :y1 21.359375,
                                     :x2 138.77560424804688,
                                     :y2 54.859375,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 14.171875,
                                   :y1 21.359375,
                                   :x2 138.77560424804688,
                                   :y2 54.859375,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 13},
               :content {:text "Label Types "},
               :properties {:color "yellow"}}
              {:id #uuid "63f4d1f1-1db0-4ec7-9a84-6ff2660ff44d",
               :page 50,
               :position {:bounding {:x1 83.6015625,
                                     :y1 175.6875,
                                     :x2 443.36322021484375,
                                     :y2 201.1875,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 83.6015625,
                                   :y1 175.6875,
                                   :x2 443.36322021484375,
                                   :y2 201.1875,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 50},
               :content {:text "Gradient of the function f w.r.t to parameter x:"},
               :properties {:color "yellow"}}
              {:id #uuid "63f4d21a-71a7-45d3-8b4c-ea26ed65ff9a",
               :page 55,
               :position {:bounding {:x1 14.171875,
                                     :y1 21.359375,
                                     :x2 362.6816711425781,
                                     :y2 54.859375,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 14.171875,
                                   :y1 21.359375,
                                   :x2 362.6816711425781,
                                   :y2 54.859375,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 55},
               :content {:text "Stochastic Gradient Descent (SGD)"},
               :properties {:color "yellow"}}
              {:id #uuid "647f728b-76e5-410a-8e17-255cfad307c1",
               :page 1,
               :position {:bounding {:x1 69.328125,
                                     :y1 91.765625,
                                     :x2 387.75213623046875,
                                     :y2 116.765625,
                                     :width 457,
                                     :height 342.74968511858003},
                          :rects ({:x1 69.328125,
                                   :y1 91.765625,
                                   :x2 387.75213623046875,
                                   :y2 116.765625,
                                   :width 457,
                                   :height 342.74968511858003}),
                          :page 1},
               :content {:text "Text Classification with Logistic Regression"},
               :properties {:color "yellow"}}
              {:id #uuid "647f72c6-b3b3-4f46-896e-b187daf0e47f",
               :page 32,
               :position {:bounding {:x1 10.7109375,
                                     :y1 16.421875,
                                     :x2 203.8670196533203,
                                     :y2 41.421875,
                                     :width 457,
                                     :height 342.74968511858003},
                          :rects ({:x1 10.7109375,
                                   :y1 16.421875,
                                   :x2 203.8670196533203,
                                   :y2 41.421875,
                                   :width 457,
                                   :height 342.74968511858003}),
                          :page 32},
               :content {:text "Binary Logistic Regression"},
               :properties {:color "yellow"}}
              {:id #uuid "647f72d7-e496-4556-abeb-918590977dcf",
               :page 39,
               :position {:bounding {:x1 10.7109375,
                                     :y1 16.421875,
                                     :x2 137.56166076660156,
                                     :y2 41.421875,
                                     :width 457,
                                     :height 342.74968511858003},
                          :rects ({:x1 10.7109375,
                                   :y1 16.421875,
                                   :x2 137.56166076660156,
                                   :y2 41.421875,
                                   :width 457,
                                   :height 342.74968511858003}),
                          :page 39},
               :content {:text "Softmax function"},
               :properties {:color "yellow"}}
              {:id #uuid "647f72ed-3823-4231-b0ec-40e2cb64e823",
               :page 39,
               :position {:bounding {:x1 138,
                                     :y1 172,
                                     :x2 317.921875,
                                     :y2 247.11328125,
                                     :width 457,
                                     :height 342.74968511858003},
                          :rects (),
                          :page 39},
               :content {:text "[:span]", :image 1686074096120},
               :properties {:color "yellow"}}
              {:id #uuid "647f7309-91b5-438e-8e76-15e0a147753a",
               :page 45,
               :position {:bounding {:x1 10.7109375,
                                     :y1 16.421875,
                                     :x2 204.75624084472656,
                                     :y2 41.421875,
                                     :width 457,
                                     :height 342.74968511858003},
                          :rects ({:x1 10.7109375,
                                   :y1 16.421875,
                                   :x2 204.75624084472656,
                                   :y2 41.421875,
                                   :width 457,
                                   :height 342.74968511858003}),
                          :page 45},
               :content {:text "Binary Cross-Entropy Loss"},
               :properties {:color "yellow"}}
              {:id #uuid "647f7311-e280-4773-befc-fcbe5095d311",
               :page 46,
               :position {:bounding {:x1 10.7109375,
                                     :y1 16.421875,
                                     :x2 239.59786987304688,
                                     :y2 41.421875,
                                     :width 457,
                                     :height 342.74968511858003},
                          :rects ({:x1 10.7109375,
                                   :y1 16.421875,
                                   :x2 239.59786987304688,
                                   :y2 41.421875,
                                   :width 457,
                                   :height 342.74968511858003}),
                          :page 46},
               :content {:text "Categorical Cross-Entropy Loss"},
               :properties {:color "yellow"}}
              {:id #uuid "647f7324-9167-4ea3-a561-4d111f53cc61",
               :page 52,
               :position {:bounding {:x1 10.7109375,
                                     :y1 16.421875,
                                     :x2 217.02500915527344,
                                     :y2 41.421875,
                                     :width 457,
                                     :height 342.74968511858003},
                          :rects ({:x1 10.7109375,
                                   :y1 16.421875,
                                   :x2 217.02500915527344,
                                   :y2 41.421875,
                                   :width 457,
                                   :height 342.74968511858003}),
                          :page 52},
               :content {:text "Gradient-based optimisation"},
               :properties {:color "yellow"}}],
 :extra {:page 52}}
