{:highlights [{:id #uuid "63f4ca55-9d84-4d15-8567-232cbb44ae0a",
               :page 13,
               :position {:bounding {:x1 14.171875,
                                     :y1 21.359375,
                                     :x2 138.77560424804688,
                                     :y2 54.859375,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 14.171875,
                                   :y1 21.359375,
                                   :x2 138.77560424804688,
                                   :y2 54.859375,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 13},
               :content {:text "Label Types "},
               :properties {:color "yellow"}}
              {:id #uuid "63f4d1f1-1db0-4ec7-9a84-6ff2660ff44d",
               :page 50,
               :position {:bounding {:x1 83.6015625,
                                     :y1 175.6875,
                                     :x2 443.36322021484375,
                                     :y2 201.1875,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 83.6015625,
                                   :y1 175.6875,
                                   :x2 443.36322021484375,
                                   :y2 201.1875,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 50},
               :content {:text "Gradient of the function f w.r.t to parameter x:"},
               :properties {:color "yellow"}}
              {:id #uuid "63f4d21a-71a7-45d3-8b4c-ea26ed65ff9a",
               :page 55,
               :position {:bounding {:x1 14.171875,
                                     :y1 21.359375,
                                     :x2 362.6816711425781,
                                     :y2 54.859375,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 14.171875,
                                   :y1 21.359375,
                                   :x2 362.6816711425781,
                                   :y2 54.859375,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 55},
               :content {:text "Stochastic Gradient Descent (SGD)"},
               :properties {:color "yellow"}}
              {:id #uuid "647f728b-76e5-410a-8e17-255cfad307c1",
               :page 1,
               :position {:bounding {:x1 69.328125,
                                     :y1 91.765625,
                                     :x2 387.75213623046875,
                                     :y2 116.765625,
                                     :width 457,
                                     :height 342.74968511858003},
                          :rects ({:x1 69.328125,
                                   :y1 91.765625,
                                   :x2 387.75213623046875,
                                   :y2 116.765625,
                                   :width 457,
                                   :height 342.74968511858003}),
                          :page 1},
               :content {:text "Text Classification with Logistic Regression"},
               :properties {:color "yellow"}}],
 :extra {:page 29}}
